<nav>
    <div  class="w-full flex flex-wrap items-center justify-between mx-auto py-4">
        <!-- Logo & Title -->
        <div class="flex items-center space-x-8">
            <div class="flex items-center ">
                <img
                    src="../../../assets/universidad-galileo.png"
                    class="h-10 mr-3"
                    alt="Universidad Galileo Logo"
                />
                <span 
                    class="self-center text-xl font-semibold whitespace-nowrap">
                    TAREA #7
                </span>
            </div>
        </div>

        <!-- Navigation Links -->
        <div class="flex items-center space-x-8 pr-6">
            <ul class="flex space-x-6">
                <li>
                    <a
                        routerLink="/"
                        routerLinkActive="underline"
                        [routerLinkActiveOptions]="{ exact: true }"
                        class="block hover:underline"
                        aria-current="page"
                    >Inicio
                    </a>
                </li>
                <li>
                    <a
                        routerLink="/grados"
                        routerLinkActive="underline"
                        class="block hover:underline"
                    >Grados
                    </a>
                </li>
                <li>
                    <a
                        routerLink="/personajes"
                        routerLinkActive="underline"
                        class="block hover:underline"
                    >Personajes
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
  
  